<!DOCTYPE html>
<html>
<head>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<p>Welcome to the administrator page !</p>
<p>Please choose a bot to edit :</p>
<ul id="botlist" style="margin: auto;"></ul>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    $.ajax({
        url: "/bots/",
        type: 'get',
        dataType: 'json',
        success: function (data) {
            for(var i =0;i<data.length;i++){
                    $('#botlist').append(
                        $('<li>').append(
                            $('<a>').attr('href','/admin/'+data[i].id).append(data[i].botName)
                        )
                    );
            }
        },
        error: function (err) {
            console.log("Error loading bot list")
        }
    });
</script>

</body>
</html>