<!DOCTYPE html>
<html>
  <head>
    <title><%= page perso %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Session ouverte %></h1>
    <p>Welcome to you <%= Username %></p>
    <button class="favorite styled"
        type="button">
        Talk to a bot!
</button>


  </body>
</html>
