<!DOCTYPE html>
<html>
<head>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include menu %>
<p>Welcome to the edition page of <%= botName%></p>
<p>Please choose a bot to edit :</p>
<TABLE id="tabstats" BORDER="1" style="margin: auto;">
    <CAPTION style="margin: auto;"> Bot properties </CAPTION>
    <TR>
        <TH> ID </TH>
        <TH> Bot name </TH>
        <TH> Brain name </TH>
        <TH> Activated ? </TH>
        <TH> Interface </TH>
    </TR>
    <TR>
        <TD id="IDCell"> </TD>
        <TD> <input type="text" id="BotNameCell"> </TD>
        <TD> <input type="text" id="BrainNameCell"> </TD>
        <TD> <input type="text" id="isOnCell"> </TD>
        <TD> <input type="text" id="InterfaceCell"> </TD>
    </TR>
</TABLE>
<input type="button" id="modify" value="Modify bot">
<input type="button" id="delete" value="Delete bot">

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    $.ajax({
        url: "/bots/"+"<%=id%>",
        type: 'get',
        dataType: 'json',
        success: function (data) {
            $('#IDCell').append(
                data.id
            )
            $('#BotNameCell').val(
                data.botName
            )
            $('#BrainNameCell').val(
                data.brainName
            )
            $('#InterfaceCell').val(
                data.interface
            )
            $('#isOnCell').val(
                data.isOn
            )
        },
        error: function (err) {
            console.log("Error loading bot properties")
        }
    });

    $('#delete').click(function(){
        $.ajax({
            url: "/bots/" + "<%= id %>",
            type: 'delete',
            dataType: 'json',
            success: function (data) {
                window.location.replace("/admin/");
            },
            error: function (err) {
                console.log("Error deleting bot")
            }
        });
    });

    $('#modify').click(function(){
        $.ajax({
            url: "/bots/" + "<%= id %>",
            type: 'put',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ botName: $('#BotNameCell').val(), brainName: $('#BrainNameCell').val(), isOn: $('#isOnCell').val(), interface: $('#InterfaceCell').val() }),
            success: function (data) {
                window.alert("Update successful");
            },
            error: function (err) {
                console.log("Error deleting bot")
            }
        });
    });
</script>

</body>
</html>