<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/menu">GAMING</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="connex"><a href="/connexion">LOG IN</a></li>
        <li id="inscript"><a href="/inscription">SIGN UP</a></li>
        <li id="gamemenu"><a href="/menu">GAMES</a></li>
      </ul>
    </div>
  </div>
</nav>
